snippet irn
	import React from 'react';
	import {
		${0}
	} from 'react-native';
snippet irn2
	import React, {Component} from 'react';
	import {
		${0}
	} from 'react-native';
# Element
snippet text
	<Text>${0}</Text>
snippet view
	<View>
		${0}
	</View>
snippet tcho
	<TouchableOpacity
		onPress={${1}}
	>
		${0}
	</TouchableOpacity>
snippet tchowof
	<TouchableWithoutFeedback
		onPress={${1}}
	>
		${0}
	</TouchableWithoutFeedback>
